## Ignore

# Build Results
cmake-build-debug/
cmake-build-release/
my-build-debug/
my-build-release/

# CLion files
.idea

# Third-party files
Tests/lib
Scene/json-develop

# Output
OutputFiles/
Tests/ToolTests/test_output
Tests/GenerateTemporaryOutput/CheckFocusFlatRectangleHelioResult/output_files

# Input
InputFiles/Delingha
InputFiles/SolTraceHeliostatFiled
